<%- include('partials/header') %>

<div class="container">
  <h1>Home</h1>
  <p><%=kindOfSentence%></p>

  <%posts.forEach( function (post){%>
  <h2><%=post.title%></h2>

  <p>
    <%=post.body.substring(0,100)+" ..."%>
    <a href="/posts/<%=post.title%>">Read More</a>
  </p>
  <%})%>
</div>
<%- include('partials/footer') %>
